# 系统游戏文件
/addons/*.pbo
/addons/*.bisign
/appcache
/battleye
/bliss
/config
/docs
/dta

/logs
/steam_api64.dll
/steamclient64.dll
/tier0_s64.dll
/vstdlib_s64.dll

dayz.gproj
DayZServer_x64.exe

# 模组文件
/@*

!/addons/SyberiaServer.pbo
!/addons/SyberiaInternalVariables.pbo
启动西伯利亚计划数据库.bat

!@SkillModServerSide

/mpmissions/dayzoffline.chiemsee/storage_1/
/mpmissions/dayzoffline.chiemsee/storage_0/
/mpmissions/dayzoffline.enoch/storage_1/
/mpmissions/dayzoffline.enoch/storage_0/
/mpmissions/dayzoffline.chernarusplus/storage_1/
/mpmissions/dayzoffline.chernarusplus/storage_0/
/mpmissions/hardcore.namalsk/storage_1/
/mpmissions/hardcore.namalsk/storage_0/
/mpmissions/dayzOffline.Yiprit/storage_1/
/mpmissions/dayzOffline.Yiprit/storage_0/


.idea/.gitignore
.idea/DayZServer.iml
.idea/modules.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/misc.xml

*.log
*.slog
cache.ch
*.ADM
*.RPT
*.mdmp

logs
logging

/ChiemseeProfile/Skills/Fishing/Players/
/ChiemseeProfile/Skills/Hunting/Players/